  <script data-cart-total-discount type="text/x-template">
    {% raw %}
    <div class="cart__total" data-cart-discount>
      <span data-cart-discount-title>{{it.discountTitle}}</span>
      <span data-cart-discount-price>-{{it.discountTotalAllocatedAmount | safe}}</span>
    </div>
    {% endraw %}
  </script>

  <script pair-product-template type="text/x-template">
    {% raw %}
      <div class="product-upsell__holder product-upsell__holder--cart" data-upsell-holder>
        <div data-cart-errors-container class="product-upsell__errors"></div>

          <div class="product-upsell">
            <div class="product-upsell__content">
              {% endraw %}
              <p class="product-upsell__subtitle">{{ 'products.general.pair_products' | t }}</p>
              {% raw %}

              <p class="product-upsell__title h3">
                <a href="{{ it.product.url }}">{{ it.product.title }}</a>
              </p>
              
              {{ @if(it.product.hasVariants != true) }}
                <button type="button" name="add" 
                  class="product-upsell__btn btn btn--secondary"
                  data-add-to-cart
                  data-focus-element
                  data-upsell-btn
                  data-handle="{{ it.product.handle }}"
                  data-product-id="{{ it.product.firstAvailableVariant.id }}">
                  <span class="product-upsell__btn-hidden" data-upsell-btn-text>{{ it.product.addToCartText }}</span>
                  <span class="product-upsell__btn-text">{{ it.product.addToCartText }}</span>
                  <span class="product-upsell__btn-price">&nbsp;-&nbsp;{{ it.product.firstAvailableVariant.price | safe }}</span>
                  <span class="product-upsell__btn-progress">
                    <svg height="18" width="18" class="svg-loader">
                      <circle r="7" cx="9" cy="9" />
                      <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
                    </svg>
                  </span>

                  <span class="product-upsell__btn-check">&nbsp;</span>
                </button>
              {{ #else }}
                <a class="product-upsell__btn product-upsell__btn--desktop btn btn--secondary"
                  href="{{ it.product.url }}"
                  data-handle="{{ it.product.handle }}"
                  data-button-quick-view
                >
                {% endraw %}
                  {{ 'products.product.quick_view' | t }}
                {% raw %}
                </a>

                <a class="product-upsell__btn product-upsell__btn--mobile btn btn--secondary"
                  href="{{ it.product.url }}"
                >
                {% endraw %}
                  {{ 'products.product.view_more' | t }}
                {% raw %}
                </a>
              {{ /if }}
            </div>

            {{ @if(it.product.image) }}
              <div class="product-upsell__image">
                <a href="{{ it.product.url }}" aria-label='{{ it.product.title }}'>
                  <div class="product-upsell__image__thumb lazyload"
                    aria-label="{{ it.product.title }}"
                    role="img"
                    data-aspectratio="{{ it.product.image.aspectRatio }}"
                    data-sizes="auto"
                    data-bgset="{{ it.product.image.thumb }}">
                  </div>
                </a>
              </div>
            {{ /if }}
          </div>

        </div>
      </div>
    {% endraw %}
  </script>
