{%- comment -%}
    Renders list of collections in grid layout

    Accepts:
    - collection: {Object} collection (required)
    - item_width: {String} Set item width class
    - carousel: {Boolean} Show the collections in carousel. Default: true
    - animation_delay: {Number} Factor based on grid items per row
    - placeholder_index: {Integer} Alternating placeholder images

    Usage:
    {% render 'collection-grid-item', collection: collection, item_width: item_width, carousel: carousel, animation_delay: animation_delay, placeholder_index: placeholder_index %}
{%- endcomment -%}

{%- liquid
  assign text_color = section.settings.text_color
  assign button_text = section.settings.button_text

  if custom_collection_image
    assign image = custom_collection_image
  elsif collection.image
    assign image = collection.image
  elsif collection.products.first and collection.products.first.featured_media.preview_image
    assign image = collection.products.first.featured_media.preview_image
  endif

  if collection.title == blank
    assign collection_title = 'homepage.onboarding.collection_title' | t
    assign collection_url = '#!'
  else
    assign collection_title = collection.title | strip_html | escape | truncatewords: 10
    assign collection_url = collection.url
  endif

  assign animations_enabled = settings.animations_enabled

  capture item_class
    echo 'list-collections__item'

    if image_shape
      echo ' list-collections__item--' | append: image_shape
    endif

    if text_over_image
      echo ' list-collections__item--over-image'
    endif

    if collection == empty
      echo ' list-collections__item--onboarding'
    endif

    if carousel
      echo ' carousel__item'
    else
      echo ' grid__item'
    endif

    echo ' ' | append: item_width
    echo ' ' | append: item_width_mobile
    echo ' ' | append: text_color
  endcapture

  capture item_bg_class
    echo 'list-collections__item__image-bg'

    unless has_color_overlay
      if image != blank
        echo ' lazyload'
      else
        echo ' placeholder-svg--overlayed'
      endif
    endunless
  endcapture
-%}

{%- if has_color_overlay -%}
  {%- style -%}
    #list-collections__item--{{ unique }} .list-collections__item__image-bg { background: {{ custom_bg_color }}; }
    #list-collections__item--{{ unique }} .list-collections__item__image-bg:before { content: none; }
  {%- endstyle -%}
{%- endif -%}

<div class="{{ item_class }}"
  id="list-collections__item--{{ unique }}"
  {% if carousel %}
    data-slide
  {% endif %}
  {% if block_shopify_attributes %}
    {{ block_shopify_attributes }}
  {% endif %}>

  <div class="list-collections__item__outer">
    <a href="{{ collection_url }}" class="list-collections__item__image"
      data-product-media-container
      {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay | times: 150 }}"
      {% endif %}>
      <div class="{{ item_bg_class }}"
        {% if image != blank and has_color_overlay != true %}
          data-bgset="{% render 'bgset', image: image %}"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
        {% endif %}
        >
        {%- unless has_color_overlay -%}
          {%- if collection != empty and image == blank -%}
            {%- assign image_url_pattern = collection.products.first.featured_image | img_url: '1024x' | replace: '_1024x.', '_{width}x.' -%}
            {%- assign image_widths = "[180, 360, 540, 720, 960, 1024, 1280]" -%}
            <img
              class="no-image-placeholder lazyload"
              src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
              data-src="{{ image_url_pattern }}"
              data-widths= "{{ image_widths }}"
              data-aspectratio="1"
              data-sizes="auto"
              width="1024"
              height="1024"
              alt="{{ collection.title | strip_html | escape }}">
            <noscript>
              <img
                class="no-image-placeholder"
                src="{{ image | img_url: '1024x' }}"
                width="1024"
                height="1024"
                alt="{{ collection.title | strip_html | escape }}">
            </noscript>
          {%- elsif image == blank -%}
            {{- 'collection-' | append: placeholder_index | placeholder_svg_tag: 'placeholder-svg-filled' -}}
          {%- elsif image != blank -%}
            <noscript>
              <img
                class="no-image-placeholder"
                src="{{ image | img_url: '1024x' }}"
                width="1024"
                height="1024"
                alt="{{ collection.title | strip_html | escape }}">
            </noscript>
          {%- endif -%}
        {%- endunless -%}
      </div>

      {%- if image != blank and has_color_overlay == false -%}
        <noscript>
          <div class="list-collections__item__image-bg" style="background-image: url( {{ image | img_url: '2048x' }} );"></div>
        </noscript>
      {%- endif -%}
    </a>

    <a href="{{ collection_url }}"
      class="list-collections__item__content list-collections__item__content--{% if text_over_image %}overlayed{% else %}under{% endif %}"
      {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay | times: 150 }}"
      {% endif %}>
      <h3 class="list-collections__item__title">
        {{- collection_title -}}
      </h3>

      {%- unless button_text == blank -%}
        <div class="list-collections__item__btn-wrapper">
          <span class="btn {{ section.settings.button_style }}">{{ button_text }}</span>
        </div>
      {%- endunless -%}
    </a>
  </div>
</div>
