{%- liquid
  assign upsell_variant = upsell_product.selected_or_first_available_variant
  assign upsell_link = upsell_product.url | default: '#!'
  assign upsell_image = upsell_product.featured_media.preview_image
  assign upsell_error = false

  if upsell_product == blank
    assign show_upsell = false
    assign upsell_error = true
  endif

  if request.design_mode or upsell_product != blank
    assign show_upsell = true
  endif

  assign upsell_form_id = "UpsellForm--" | append: unique
  assign upsell_button_id = "UpsellButton--" | append: unique

  assign single_variant = false
  if upsell_product.variants.size == 1
    assign single_variant = true
  endif
-%}

{%- if show_upsell -%}
  <div class="product-upsell__holder{% if upsell_error %} product-upsell__holder--onboarding{% endif %}" data-upsell-holder>
    <div class="product-upsell">
      <div class="product-upsell__content">
        <p class="product-upsell__subtitle">{{ 'products.general.pair_products' | t }}</p>
        {%- if upsell_error -%}
          <p class="product-upsell__title h3">{{ 'products.general.upsell_error_no_product' | t }}</p>
          <p class="product-upsell__variant-title h4">{{ 'products.general.upsell_error_info' | t }}</p>
        {%- else -%}
          <p class="product-upsell__title h3">
            <a href="{{ upsell_link }}">{{ upsell_product.title | strip_html }}</a>
          </p>
  
          {%- if single_variant -%}
            {%- form 'product', upsell_product, data-product-form: '', id: upsell_form_id -%}
              <input type="hidden" name="id" value="{{ upsell_variant.id }}">

              <button type="submit" name="add"
                class="product-upsell__btn btn btn--secondary{% unless upsell_variant.available %} is-hidden{% endunless %}"
                id="{{ upsell_button_id }}"
                {% unless upsell_variant.available %} is-hidden{% endunless %}
                data-add-to-cart
                data-focus-element
                data-upsell-btn>
                <span class="product-upsell__btn-hidden" data-upsell-btn-text>{{ 'products.product.add_to_cart' | t }}</span>
                <span class="product-upsell__btn-text">{{ 'products.product.add_to_cart' | t }}</span>
                <span class="product-upsell__btn-price">&nbsp;-&nbsp;
                  {%- liquid
                    if upsell_variant.price == 0
                      echo 'products.product.free' | t
                    else
                      echo upsell_variant.price | money
                    endif
                  -%}
                </span>

                <span class="product-upsell__btn-progress">
                  <svg height="18" width="18" class="svg-loader">
                    <circle r="7" cx="9" cy="9" />
                    <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
                  </svg>
                </span>

                <span class="product-upsell__btn-check">&nbsp;</span>
              </button>

              <p class="product-upsell__out-of-stock">{{ 'products.general.upsell_out_of_stock' | t }}</p>
            {%- endform -%}
          {%- else -%}
            {%- unless upsell_variant.available -%}
              <p class="product-upsell__unavailable">{{ 'products.product.sold_out' | t }}</p>
            {%- endunless -%}

            <a class="product-upsell__btn product-upsell__btn--desktop btn btn--secondary"
              href="{{ upsell_link }}"
              data-handle="{{ upsell_product.handle }}"
              data-button-quick-view
              >{{ 'products.product.quick_view' | t }}</a>

            <a class="product-upsell__btn product-upsell__btn--mobile btn btn--secondary"
              href="{{ upsell_link }}"
              >{{ 'products.product.view_more' | t }}</a>
          {%- endif -%}
        {%- endif -%}
      </div>

      <div class="product-upsell__image">
        <a class="product-upsell__image__link" href="{{ upsell_link }}" aria-label="{{ upsell_product.title | escape | strip_html }}"{% if index > 1 %} tabindex="-1"{% endif %}>
          {%- liquid
            assign image = upsell_image
            assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
            assign image_widths = "[150, 300, 600]"
          -%}
          
          <img src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
              class="product-upsell__image__thumb lazyload"
              data-src="{{ image_url_pattern }}"
              data-widths= "{{ image_widths }}"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              width="150"
              height="150"
              data-object-fit="cover"
              alt="{{ image.alt | escape }}">
          <noscript>
            <img src="{{ image.src | img_url: '150x' }}" alt="{{ image.alt | escape }}" class="product-upsell__image__thumb no-js-image">
          </noscript>
        </a>
      </div>
    </div>
  </div>
{%- endif -%}
