{%- liquid
  assign show_image = true
  assign unique = section.id
  assign section_height = section.settings.section_height
  assign section_width = section.settings.width
  assign image_background = section.settings.image_background
  assign bg_position = section.settings.bg_position
  assign image = section.settings.image
  assign text_position = section.settings.text_position
  assign text_alignment = section.settings.text_alignment
  assign subheading = section.settings.subheading
  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size | times: 0.01
  assign text = section.settings.text
  assign video_link = section.settings.video_link
  assign video_link_color = section.settings.video_link_color
  assign button_text = section.settings.button_text
  assign button_link = section.settings.button_link | default: '#'
  assign button_style = section.settings.button_style
  assign bg_color = section.settings.bg_color
  assign animation_anchor = '#ImageWithText--' | append: unique
-%}

{%- style -%}
  #ImageWithText--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
  {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
    #ImageWithText--{{ section.id }} {
      --bg: {{ bg_color }};
    }
  {%- endif -%}
  #ImageWithText--{{ section.id }} .rich-text__heading { --adjust-heading: calc(var(--FONT-ADJUST-HEADING) * {{ heading_size }}) }
{%- endstyle -%}

<section id="ImageWithText--{{ section.id }}"
  class="section-padding rich-text{% if image_background %} rich-text--has-background{% endif %} featured-content-section {{ section_height }}"
  data-section-id="{{ section.id }}"
  data-section-type="image-with-text"
  data-overflow-container
  {% unless image_background %}
    data-prevent-transparent-header
  {% endunless %}>
  <div class="featured-content-section__wrapper">
    {%- render 'rich-text',
      show_image: show_image,
      image_background: image_background,
      bg_position: bg_position,
      unique: unique,
      section_width: section_width,
      image: image,
      text_position: text_position,
      text_alignment: text_alignment,
      subheading: subheading,
      heading: heading,
      text: text,
      video_link: video_link,
      video_link_color: video_link_color,
      button_text: button_text,
      button_link: button_link,
      button_style: button_style,
      animation_anchor: animation_anchor -%}
  </div>
</section>

{% schema %}
{
    "name": "Image with text",
    "class": "rich-text transparent-header",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "section_height",
        "label": "Height",
        "default": "six-fifty-height",
        "options": [
          { "value": "full-height", "label": "Full screen" },
          { "value": "seven-fifty-height", "label": "750px" },
          { "value": "six-fifty-height", "label": "650px" },
          { "value": "five-fifty-height ", "label": "550px" },
          { "value": "four-fifty-height", "label": "450px" }
        ]
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Block position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "image_background",
        "label": "Set image as a background",
        "default": false
      },
      {
        "type": "select",
        "id": "bg_position",
        "label": "Position",
        "default": "center-center",
        "options": [
          { "label": "Top", "value": "center-top" },
          { "label": "Right", "value": "right-center" },
          { "label": "Center", "value": "center-center" },
          { "label": "Left", "value": "left-center" },
          { "label": "Bottom", "value": "center-bottom" }
        ]
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Alignment",
        "default": "left",
        "options": [
          { "label": "Left", "value": "left" },
          { "label": "Center", "value": "center" }
        ]
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subheading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Our Story"
      },
      {
        "type": "range",
        "id": "heading_size",
        "label": "Heading size",
        "default": 100,
        "min": 100,
        "max": 200,
        "step": 10,
        "unit": "%"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Text",
        "default": "Learn More"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Style",
        "default": "btn--primary btn--small",
        "options": [
          { "label": "Text", "value": "btn--text" },
          { "label": "Small button", "value": "btn--primary btn--small" },
          { "label": "Large button", "value": "btn--primary" },
          { "label": "Small outline button", "value": "btn--secondary btn--small" },
          { "label": "Large outline button", "value": "btn--secondary" }
        ]
      },
      {
        "type": "header",
        "content": "Video button"
      },
      {
        "type": "text",
        "id": "video_link",
        "label": "Link",
        "info": "Video links from YouTube, Vimeo or MP4 video link from [files](/admin/settings/files?media_type=VIDEO)"
      },
      {
        "type": "select",
        "id": "video_link_color",
        "label": "Color",
        "default": "text-dark",
        "options": [
          {
            "value": "text-light",
            "label": "Light"
          },
          {
            "value": "text-dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper",
        "options": [
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 60
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
}
{% endschema %}